@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

body{
	background-color: #e1f7cefd;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.container-a{
	margin-left: 50px;
	display: flex;
	align-items: center;
}

.container-b{
	margin-left: 400px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.container-c{
	margin-right: 1250px;
	display: flex;
	align-items: center;
}

.container-d{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 450px;
}

.container-e{
	align-items: center;
	margin-left: 100px;
	text-align: center;
}

.container-e img{
	margin: auto;
}

.container-f{
	margin-right: 220px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-f img{
	width: 550px;
	margin-right: 1150px;
}

.menu{
	width: 70%;
}

.menu nav a{
	color: #ffffff;
	text-decoration: none;
	padding-right: 60px;
	font-size: 18px;
	position: relative;
}

.menu nav a::after{
	content: " ";
	width: 0px;
	height: 4px;
	background-image: linear-gradient(45deg, #FF2500, #FF7100);
	position: absolute;
	top: 30px;
	left: 0;
	transition: width 0.5s;
}

.menu nav a:hover::after{
	width: 50px;
}

.logo,.sociais{
	width: 25%;
}

.logo img{
	width: 80px;
	margin-left: 0px;
}

.sociais button{
	width: 40px;
	height: 40px;
	background-image: linear-gradient(45deg, #FF2500, #FF7100);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-right: 10px;
}

.sociais button i{
	font-size: 20px;
	color: #ffffff;
}

.texto-a, .texto-c{
	display: table-cell;
	float: left;
	width: 300px;
	text-align: center;
}

.text-b p{
	text-align: left;
}

.texto-d{
	text-align: left;
	margin-right: 60px;
}	

.texto-e{
	margin-left: 70px;
	text-align: center;
}

.texto-h{
	text-align: right;
	text-align-last: center;
}

.textoh3{
	text-align:center;
}

.texto-eventos{
	text-align: center;
}

.castelo, img{
	text-align: center;
	margin-left: 570px;
}

header{
	background-color: #0b31a7;
	width: 107%;
	padding: 10px;
}

.titulo{
	text-align: left;
}

.tour{
	margin-left: 70px;	
}

.faleconosco img{
	width: 450px;
	display: flex;
	align-items: center;
	margin-left: 720px;
}

.eventos{
	text-align: center;
}

.tour{
	text-align: center;
}

.Teste{
	margin-left: 50%;
}

.formulario, .cadastro{
	margin-left: 20px;
}